{% extends "layout.html" %}
{% block content %}

  {% for post in posts %}
    <article class="content-section py-3 px-4 mb-4">
      <div class="d-flex align-items-start gap-4">
        <!-- mini profile -->
        <img class="rounded-circle article-img flex-shrink-0"
             src="{{ url_for('static',path='profile_pics/1.png')}}"
             alt="Author's pfp"
             width="64"
             height="64"
             loading="lazy">
        <div class="flex-grow-1">
            
          <div class="article-metadata mb-2">
             <h6 class="text-body-secondary"><i>Author: {{ post.author }} </i></h6>
            <small class="text-body-secondary">Published: {{ post.date }}</small>
          </div>
          <!-- Clickable link to the specific article -->
          <h2>
            <a class="article-title"
               href="{{ url_for("get_page", post_id=post.id) }}">{{ post.title}}</a>
          </h2>
        </div>
      </div>
    </article>
  {% endfor %}

{% endblock content %}