{% extends "layout.html" %}
{% block content %}

<h1>CONTACTS</h1>

<div class = "links_grid">
    <img class="eye_catch" src="../static/art/2.png" ></img>
    <ul class="Socials">
      <p><strong>Business Inquiries: </strong><i>kittmakesart@gmail.com</i></p>
      <h2>SOCIAL MEDIA</h2>
      <li><a href="https://www.tumblr.com/blog/skystrikerpilot" target = "_blank"> Tumblr </a></li>
      <li><a href="https://www.instagram.com/skystrikerpilot/" target = "_blank"> Instagram </a></li>
    </ul>
   
</div>
{% endblock %}