{% extends "layout.html" %}

<!-- Establising our content block from earlier -->
 {% block content %}
<section class="hero">

  <!-- Personal Introduction -->
  <div class="home">
    <p class="kicker">Digital Artist • Developer</p>
    <h1>kitt.art</h1>
    <p class="lead">
      I build clean backend systems with FastAPI + PostgreSQL, and I take digital art commissions.
    </p>

    <!--Call to action -->
    <div class="cta">
      <a class="primary cta-btn" href="{{ url_for("commissions")}}">Request a commission</a>
    </div>
  </div>
   
  </div>
</section>
{% endblock content %}
